.sign-in-form{
    width: 500px;
    margin: 50px auto;
    border-radius: 10px;
    border: 1px solid lightgray;
}

.left-form{
    background-color: #3170FC;
    min-height: 80vh;
}

.right-form{
   min-height: 80vh;
}

.inner-right-form{
  margin: 0 50px;
  padding: 25px 0;
}
.facebook-btn{
  width: 100%;
}

.dotted-divider{
  border-top: 1px dotted lightgray;
  margin: 30px 0;
}