.testimonial-item{
    width: 450px;
    padding: 25px;
    border: 1px solid lightgray;
    border-radius: 7px;
    margin: 20px 10px;
    background: white;
}
.testimonial-item-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.testimonial-item-header img{
    margin-right: 10px;
}
.testimonial-section{
    padding: 100px 0 200px 0;
}

