@import '../../../styles/colors.scss';

.my-listings{
  padding: 50px 0;
  min-height: 90vh;
}

.house-preview {
    display: flex;
    width: 450px;
    margin: 20px 0;
}

.house-preview img{
    width: 200px;
    height: 100%;
    overflow: hidden;
}

.house-preview-content{
    padding-top: 10px;
    width: 250px;
  }


.image-container:hover button{
   display: block;
   animation: property_view 0.2s ease-in-out;
}

.image-container button a{
    color: white;
 }

.image-container{
    position: relative;
}

.image-container button{
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.listing-actions {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.listing-actions .views{
    margin-right: 30px;
    padding-left: 10px;
}

.listing-actions-items >*{
    padding: 10px 5px;
}

@keyframes property_view {
    from { top: 25%; }
    to {top: 50%;}
  }

  @media screen and (max-width: 815px) {
    .all-my-listings {
      align-items: center;
      margin: 0 auto;
    }

    .my-listings {
      margin: 0 auto;
      margin-bottom: 50px;
    }
  }