.latest-property{
    background-color: #F5F7FB;
    padding-bottom: 100px;
}
.latest-property-header{
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
    padding-top: 50px;
}
.latest-property-header-right{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;

}
.latest-property-header-item{
    border: 0.5px solid lightgray;
    padding: 10px 20px;
    color: #144272;
    cursor: pointer;
}
.latest-property-header-item-active{
    border: 0.5px solid lightgray;
    padding: 10px 20px;
    background-color: #3170FC;
    color: white;
    cursor: pointer;
}

@media screen and (max-width: 875px) {
    .latest-property-items {
        justify-content: center;
    }
    .latest-property-header{
        align-items: flex-start;
        flex-direction: column;
    }
}

@media screen and (max-width: 768px) {
    .latest-property {
        padding: 0 10vw;
    }
}

@media screen and (max-width: 435px) {
    .latest-property-header-right{
        flex-direction: column;
    }
    .latest-property-header-right > *{
        width: 300px;
    }
}
