.primary-heading{
    color: $primary-blue;
    font-size: $small-font;
    font-weight: bold;
}
.secondary-heading{
    color: $secondary-blue;
    font-size: $big-font;
    font-weight: bold;
}
.tertiary-heading{
    color: $primary-blue;
    font-weight: bold;
    font-size: $small-font;
}
.fourth-heading{
    color: $secondary-blue;
    font-size: $medium-font;
    font-weight: bold;
}
