
// BACKGROUND COLOR
$bg-primary: $primary-blue;
$bg-secondary: $fourth-gray;
$bg-info: $secondary-blue;
$bg-light: $primary-gray;

//FONTS
$text-primary: $primary-blue;
$text-muted: $tertiary-gray;
$text-secondary: $fourth-gray;

$primary-blue: #3270FC;
$secondary-blue: #144272;

$primary-gray: #F5F7FB;
$secondary-gray: #F9F9F9;
$tertiary-gray: #7D93B2;
$fourth-gray: #566985;

@import '~bootstrap/scss/bootstrap.scss';