// .bg-blue{
//     background-color: $primary-blue;
//   }
//   .bg-gray{
//     background-color: $primary-gray;
//   }

//   .bg-light-gray{
//     background-color: $secondary-gray;
//   }

/* $secondary-gray: #F9F9F9;
$tertiary-gray: #7D93B2; */

// BACKGROUND COLOR
$bg-primary: $primary-blue;
$bg-secondary: $fourth-gray;
$bg-info: $secondary-blue;
$bg-light: $primary-gray;

// .text-blue{
//   color: $primary-blue;
// }
// .text-light-gray{
//   color: $tertiary-gray;
// }
// .text-gray{
//   color: $fourth-gray;
// }
// .text-dark-blue{
//   color: $secondary-blue;
// }

//FONTS
$text-primary: $primary-blue;
$text-muted: $tertiary-gray;
$text-secondary: $fourth-gray;

// .text-bold{
//   font-weight: bold;
// }
// .text-small{
//   font-size: $small-font;
// }
// .text-medium{
//     font-size: $medium-font;
// }
// .text-big{
//     font-size: $big-font;
// }

$primary-blue: #3270FC;
$secondary-blue: #144272;

$primary-gray: #F5F7FB;
$secondary-gray: #F9F9F9;
$tertiary-gray: #7D93B2;
$fourth-gray: #566985;

@import '~bootstrap/scss/bootstrap.scss';