@import 'colors.scss';
@import 'sizes.scss';
@import 'layouts.scss';
@import 'custom.scss';
@import 'components.scss';

.search{
    border-radius: 17px ;
    border: none;
    padding: 5px;
    text-align: center;
    width: 150px;
}
a{
    text-decoration: none;
    color: gray;

}
.bg-light-dark{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.473);
  z-index: -10;
}

@media screen and (min-width: 990px) {
    .navbar-nav {
      margin-left: auto;
    }
  }