@import '../../../styles/colors.scss';

.my-profile {
  padding: 50px 0;
  min-height: 90vh;
}

.my-profile-left-container{
    width: 55%;
}
.my-profile-left{
    background: #fff;
    width: 100%;
    padding: 10px 0;
}
.my-profile-left strong{
    padding-left: 20px;
}
.my-profile-right{
    width: 40%;
}
.avatar-container{
    height: 150px;
    width: 100%;
    margin-top: 5px;
    position: relative;

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    z-index: 0;
}

.agent-avatar{
    position: absolute;
    left: 20px;
    top: 25%;
    display: flex;
    align-items: center;

    & input {
        display: none;
    }
}

.agent-cover-image{
    position: absolute;
    right: 0;
    bottom: 0;
    overflow: hidden;

    & span {
        padding: 10px 20px;
    }

    & input {
        display: none;
    }
}

.agent-avatar img{
    border: 10px solid rgba(255, 255, 255, 0.579);
    border-radius: 20%;
}

.personal-info{
    background: white;
    border-radius: 5px;
    border: 1px solid lightgray;

    & .perfornal-info-heading{
        padding: 10px;
    }
}

.personal-info-form{
    padding: 0 25px;
}

.persornal-info-heading{
  padding: 10px 25px;
}

@media screen and (max-width: 650px ) {
  .my-profile-container {
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
  }

  .my-profile-left, .personal-info, .my-profile-right {
    width: 90vw;
  }

  .my-profile-left-container {
    width: 100vw;
  }

  .my-profile-right {
    width: 100vw;
    margin: 25px auto;
  }
}