.helpful-links{
    position: relative;
    list-style: none;
  }

  .helpful-links li::before {
    content: '▶';
    position: absolute;
    left: 0;
    color: #3270FC;
    font-size: 8px;
    margin-top: 7px;
  }

  .upper-footer{
    padding: 10px 0;
  }

  .lower-footer{
    height: 30px;
  }

  .footer-container{
    margin-top: 100px;
  }