.news-letter-section{
    border-radius: 10px;
    min-height: 200px;
    min-width: 300px;
    padding: 70px 50px;

    background-image: url('https://img.freepik.com/free-vector/gradient-dynamic-blue-lines-background_23-2148995756.jpg');
    background-position: top left;
    background-repeat: no-repeat;
    background-size: cover;

    margin-top: -100px;
    z-index: 1;
}
.news-letter-email{
    background: white;
    border: 0;
}