.search-bar {
  top: 120px;
  position: fixed;
}

.search-bar-content, .mobile-search-bar-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 0 10px;
}
.mobile-search-bar-content {
  margin-top: 50px;
}

.search-bar-content button {
  height: 50px;
  margin-top: 7px;
}

.search-bar-content > * {
  min-width: 150px;
}

.search-bar-content-content button {
  height: 50px;
  margin-top: 7px;
}

.search-bar-content-content > * {
  min-width: 150px;
}

.properties-list {
  margin-top: 200px; 
  margin-bottom: 100px; 
  z-index: -100;
}

@media screen and (max-width: 550px) {
  .properties-list {
    margin-top: 270px; 
  }
}

@media screen and (max-width: 992px) {
  .search-bar {
    top: 60px;
  }
}

@media screen and (max-width: 767px) {
  .search-bar-content {
    display: none;
  }
}

@media screen and (min-width: 767px) {
  .filter-trigger {
    display: none;
  }
}

@media screen and (max-width: 994px) {
  .properties-list {
    margin-top: 160px; 
    display: flex;
    align-items: center;
  }
}