.banner-section{
    margin-top: 50px;
    height: 70vh;
    background-color:#F5F7FB;
    background-image: url("/public/photos/banner-photo.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
